html {
	background-color: #5EC0E4;
}

body {
	font-family: sans-serif;
	background-color: white;
	width: 400px;
	margin: 0 auto;
	padding: 1em;
}

select {
	width: 100%;
	margin-bottom: 1em;
}

.loading {
	opacity: .5;
}