html{
    background-color: #2DBFD5;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

body {
    background-color: white;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
    
}