@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);

* { 
	
}

html {
	background-color: #545152;
	font-family: 'Open Sans', sans-serif;
}

body {
    border-left: 3px solid #898B8E;
	margin: 0 auto;
	max-width: 960px;
}

header {
	background-image: url('../img/transistor.png');
	background-color: #e9e8e8;
	height: 12em;
	margin-left: 15%;
}

header img#logo {
	float: right;
	margin: 1em 2em 0em 0em;
}

#header-headers {
    margin: 3em 0px 0px 3em;
    color: #000;
	float: left;
	font-family: 'Orbitron', sans-serif;
}

#header-headers img {
	background-color: rgba(256, 256, 256, .5);
	border-radius: 50%;
	padding: 1em;
}

header h1,
footer h1 {
	font-size: 2em;
	font-weight: 800;
    margin: 0 0 .2em 0;
}

#header-headers > h4:nth-child(3) > img {
	float: left;
	margin: 1em 0 0 0;
}

#header-headers > h4:nth-child(4) {
	float: left;
	margin: 1em;
}

header span {
	font-weight: 600;
}

aside {
	background-color: #545152;
	clear: both;
	float: left;
	width: 15%;
}

aside ul {
	position: relative;
	top: -10em;
	width: 100%;
}

aside ul li a img,
aside ul li img {
	margin: 2em 0 0 30%;
	width: 3em;
}

/*
ul#submenu {
    display: none;
}
*/

ul#submenu {
    position: relative;
    top: 0.1em;
    text-align: center;
    width: content-width;
}

ul#submenu li { 
    background-color: #FFF;
    border-bottom: 1px solid #E9E8E8;
	display: none;
    padding: .8em;
}

ul#submenu li:hover {
    background-color: #E9E8E8;
}

ul#submenu li a {
	color: #2A3E59;
}

aside form {
	margin: 0 auto;
	position: relative;
	top: -7em;
	width: 80%;
}

aside form label { 
	color: #e9e8e8;
}

aside form input {
	margin: 1em 0em -.5em 0em;
}

aside form input#the_phrase {
	width: 95%;
}

main {
	background-color: #e9e8e8;
	float: left;
	min-height: 23em;
	padding: 1.5em;
	width: 85%;
}

main h2, 
main h3 {
    color: #2A3E59;
}

#home p,
#home h3 {
	margin-bottom: 1em;
}

#home h3 {
	font-weight: 600;
}

main article {
    background-color: #FFF;
    padding: 1em;
    width: 100%;
}

main a,
main a:visited {
    color: #2A3E59;
}

main div h2 a {
	color: #2A3E59;
	text-decoration: none;
}

main div.category {
    background-color: #FFF;
    border-bottom: 1px solid #E9E8E8;
	float: left;
	padding: 1em;
	width: 100%;
}

main div.category:hover {
    background-color: #E9E8E8;
    border-bottom: 1px solid #545152;
}

main div.category a h2,
main h2 {
	font-size: 1.2em;
	font-weight: 800;
	margin: 0 0 .5em 0;
}

p.info {
    margin: 0 0 2em 0;
}

main#articles img {
	border: solid 5px #545152;
	border-radius: 10%;
	float: left;
	margin: 0 0 3em 0;
	width: 15%;
}

main#articles h2 {
	clear: both;
}

main#articles article {
	clear: both;
}

main#search_results article {
    margin: 0 0 1em 0;
}

span.username:first-letter {
	text-transform: uppercase;
}

form#register_form {
	margin: 1em;
}

form#register_form label{
	margin: 1em 0 1em 0;	
}

form#register_form input {
	border-radius: 8%;
	display: block;
	height: 2.1em;
	margin: 0.5em 0 1em 0;
}

form#register_form input[type="submit"]{
	background-color: #7F7B9E;
	border-radius: 10%;
	clear: both;
	height: 3em;
	padding: 1em;
}

form#register_form input[type="checkbox"]{
	float: left;
	margin-right: 1em;
	position: relative;
	top: -0.8em;
}

footer {
    background-color: #898B8E;
    clear: both;
    padding: 1em;
    width: 100%;
    
}

footer a {
    float: left;
}

#footer-headers {
    font-family: 'Orbitron', sans-serif;
    left: 3em;
    margin: 3em;
    
    position: relative;
    
    width: 100%
}


@media only screen and (max-width: 750px){

	header h1 {
		font-size: 1.4em;
	}
	
	aside ul li a img {
		margin: 2em 0 0 30%;
		width: 40%;
	}
	
		
}

@media only screen and (max-width: 600px){
	header img#logo {
		display: none;
	}
	
	header a img#logo {
		width: 25%;
	}
	
	aside form {
		left: 144%;
		position: relative;
		top: -12em;
	}
	
	aside form input#the_phrase {
		width: 12em;
	}
	
	aside form label[for="the_phrase"]{
		color: black;
		font-weight: 800;
	}
	
}